<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlogAPP :: Home</title>
</head>
<body>
    <div class="container">
        <h1>Spring Boot Blog Application</h1>
        <hr />
        <ul>
            <li><a th:href="@{/posts/new}">New Post</a></li>
        </ul>
        <div class="posts-container">
            <div class="post" th:each="post: ${posts}">
                <h2>
                    <a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a>
                </h2>
                <h5 th:text="'Written by ' + ${post.account.firstName}"></h5>
                <h5 th:text="'Publisehd on ' + ${post.createdAt}">Created At</h5>
                <p th:text="${post.body}">Body text</p>
                <br />
            </div>
        </div>
        <hr />
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-form"
                  action="#"
                th:action="@{/logout}"
                method="post">
                <div class="form-group">
                    <label>Hi <span sec:authentication="name">Username</span></label>
                    <button type="submit">Logout</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>